# Imports

In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
from math import isnan
import json
import csv

# Functions

In [2]:
def returnCode(dict, country):
    for key, names in dict.items():
        if country in names:
            return key

In [21]:
def dropna(data):
    print('Original shape', data.shape)
    data.dropna(axis=0, inplace=True)
    data = data.reset_index(drop=True)
    print('After dropna', data.shape)
    for col in data.columns: 
        if col != 'Country':
            data.drop(data.loc[data[col]=='..'].index, inplace=True)
            data = data.reset_index(drop=True)
    print('After drop ".."', data.shape)
    return data

In [4]:
def to_float(series):
    series = series.str.replace(',','.').str.replace('âˆ’','-').astype(float)
    return series

In [ ]:
def to_float_coma(series):
    series =  series.str.replace(',','').astype(float)
    return series

In [ ]:
def to_float_dot(series):
    series =  series.str.replace('.','').astype(float)
    return series

# Main

In [5]:
ROOT_DIR = os.getcwd() + '/'
print(ROOT_DIR)
filename = 'exports_goods_services_growth.tsv'
codes = 'country_code.json'
wikidata = 'country_wikidata.json'
dict_file = 'wikidata_dict.json'
del_file = 'eliminate.tsv'
path_data = '/home/tamara/Documents/U/Memoria/memoria/Data/COVID-19_non_related/'
path_covid = '/home/tamara/Documents/U/Memoria/memoria/Data/COVID-19_related/'
path_clean = '/home/tamara/Documents/U/Memoria/memoria/Data/Clean/'
path_check = '/home/tamara/Documents/U/Memoria/memoria/Data/to_check/'

/home/tamara/Documents/U/Memoria/memoria/Script/

## Create a dict with country codes

In [ ]:
# Opening JSON file 
with open(codes) as json_file: 
    country_dict = json.load(json_file)

In [ ]:
country_dict

In [ ]:
len(country_dict)

In [ ]:
# Opening JSON file 
with open(wikidata) as json_file: 
    wikidata_dict = json.load(json_file)

In [ ]:
wikidata_dict

In [ ]:
len(wikidata_dict)

In [ ]:
change = 0
unchange = 0
country = 0
for key in country_dict.items():
    country += 1
    flag = 0
    name = country_dict.get(key[0])
    for wd, label in wikidata_dict.items():
        for i in range(len(name)):
            if label == name[i]:
                country_dict[wd] = country_dict.pop(key[0])
                flag = 1
                change += 1
    if flag == 0:
        print(name)
        unchange += 1
    print('___________________')

In [ ]:
key[0]

In [ ]:
len(country_dict.get('NOR'))

In [ ]:
print(change, unchange)

In [ ]:
country_dict

In [ ]:
with open('wikidata_dict.json', 'w') as f:
    json.dump(country_dict, f)

In [ ]:
len(country_dict)

## Add ID from 1 file

In [57]:
file = 'precipitation_monthly'

In [58]:
df = pd.read_csv('/home/tamara/Documents/U/Memoria/memoria/Data/' + file + '.tsv', sep='\t')
df.head()

,Country,Station Name,Period,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,"AFGHANISTAN, ISLAMIC STATE OF",Faiz abad,1961-1983,49.4,65.0,91.9,97.9,77.0,8.2,5.8,1.0,1.5,23.4,29.7,34.1
1,"AFGHANISTAN, ISLAMIC STATE OF",Sheberghan,1959-1983,42.3,44.3,56.4,25.9,11.2,0.2,0.0,0.0,0.2,6.6,13.6,29.8
2,"AFGHANISTAN, ISLAMIC STATE OF",Mazar-i-Sharif,1958-1983,28.9,34.8,43.8,28.3,11.2,0.2,0.0,0.0,0.1,3.9,13.5,21.7
3,"AFGHANISTAN, ISLAMIC STATE OF",Kunduz,1968-1983,44.0,56.5,76.7,54.4,29.8,0.1,1.3,0.3,0.1,7.3,23.7,28.4
4,"AFGHANISTAN, ISLAMIC STATE OF",Maimana,1964-1983,49.9,60.5,82.2,60.5,25.6,1.0,0.5,0.0,0.2,9.6,20.9,44.7

In [60]:
# add a column
df['ID'] = df['Country']
df[:40]

,Country,Station Name,Period,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,ID
0,"AFGHANISTAN, ISLAMIC STATE OF",Faiz abad,1961-1983,49.4,65.0,91.9,97.9,77.0,8.2,5.8,1.0,1.5,23.4,29.7,34.1,"AFGHANISTAN, ISLAMIC STATE OF"
1,"AFGHANISTAN, ISLAMIC STATE OF",Sheberghan,1959-1983,42.3,44.3,56.4,25.9,11.2,0.2,0.0,0.0,0.2,6.6,13.6,29.8,"AFGHANISTAN, ISLAMIC STATE OF"
2,"AFGHANISTAN, ISLAMIC STATE OF",Mazar-i-Sharif,1958-1983,28.9,34.8,43.8,28.3,11.2,0.2,0.0,0.0,0.1,3.9,13.5,21.7,"AFGHANISTAN, ISLAMIC STATE OF"
3,"AFGHANISTAN, ISLAMIC STATE OF",Kunduz,1968-1983,44.0,56.5,76.7,54.4,29.8,0.1,1.3,0.3,0.1,7.3,23.7,28.4,"AFGHANISTAN, ISLAMIC STATE OF"
4,"AFGHANISTAN, ISLAMIC STATE OF",Maimana,1964-1983,49.9,60.5,82.2,60.5,25.6,1.0,0.5,0.0,0.2,9.6,20.9,44.7,"AFGHANISTAN, ISLAMIC STATE OF"
5,"AFGHANISTAN, ISLAMIC STATE OF",North Salang,1959-1983,108.7,142.0,185.9,197.8,123.7,10.0,6.8,6.7,7.5,30.2,68.4,104.3,"AFGHANISTAN, ISLAMIC STATE OF"
6,"AFGHANISTAN, ISLAMIC STATE OF",Jabulsaraj,1964-1983,60.7,88.0,107.6,97.2,29.8,1.4,3.0,2.1,3.3,10.7,21.2,37.2,"AFGHANISTAN, ISLAMIC STATE OF"
7,"AFGHANISTAN, ISLAMIC STATE OF",Qalai naw,1962-1982,63.9,77.0,97.5,47.3,12.3,0.0,0.0,0.0,0.6,6.7,17.9,53.4,"AFGHANISTAN, ISLAMIC STATE OF"
8,"AFGHANISTAN, ISLAMIC STATE OF",Herat,1959-1983,51.6,44.8,55.1,29.2,9.8,0.0,0.0,0.0,0.0,1.7,10.9,35.8,"AFGHANISTAN, ISLAMIC STATE OF"
9,"AFGHANISTAN, ISLAMIC STATE OF",Chakhcharan,1964-1983,30.9,32.2,40.0,35.3,20.1,0.4,0.1,0.5,0.0,11.0,15.8,18.1,"AFGHANISTAN, ISLAMIC STATE OF"
10,"AFGHANISTAN, ISLAMIC STATE OF",Bamiyan,1969-1983,8.3,15.7,27.4,29.8,26.0,5.7,1.0,0.0,3.1,4.2,7.5,4.3,"AFGHANISTAN, ISLAMIC STATE OF"
11,"AFGHANISTAN, ISLAMIC STATE OF",Kabul,1956-1983,34.3,60.1,67.9,71.9,23.4,1.0,6.2,1.6,1.7,3.7,18.6,21.6,"AFGHANISTAN, ISLAMIC STATE OF"
12,"AFGHANISTAN, ISLAMIC STATE OF",Jalal Abad,1964-1983,18.1,24.3,39.2,36.4,16.0,1.4,6.9,7.7,8.3,3.2,8.3,12.1,"AFGHANISTAN, ISLAMIC STATE OF"
13,"AFGHANISTAN, ISLAMIC STATE OF",Ghazni,1958-1983,40.2,53.9,70.9,49.9,19.7,1.9,14.1,4.7,0.5,4.1,11.3,25.8,"AFGHANISTAN, ISLAMIC STATE OF"
14,"AFGHANISTAN, ISLAMIC STATE OF",Gardiz,1970-1983,35.8,61.7,65.5,50.4,21.7,4.8,15.8,7.5,0.9,5.8,12.4,33.2,"AFGHANISTAN, ISLAMIC STATE OF"
15,"AFGHANISTAN, ISLAMIC STATE OF",Khost,1972-1983,25.9,53.6,61.8,65.2,39.8,21.6,75.9,62.0,30.5,7.7,11.6,20.9,"AFGHANISTAN, ISLAMIC STATE OF"
16,"AFGHANISTAN, ISLAMIC STATE OF",Farah,1960-1983,24.3,22.8,22.5,8.5,2.0,0.0,0.0,0.0,0.1,1.3,3.3,10.3,"AFGHANISTAN, ISLAMIC STATE OF"
17,"AFGHANISTAN, ISLAMIC STATE OF",Trinkot,1960-1983,48.9,61.7,62.2,18.3,8.0,0.0,1.4,0.0,0.0,4.8,12.6,30.3,"AFGHANISTAN, ISLAMIC STATE OF"
18,"AFGHANISTAN, ISLAMIC STATE OF",Zaranj,1960-1983,19.7,9.9,11.2,2.4,0.6,0.0,0.0,0.0,0.0,1.2,1.4,5.1,"AFGHANISTAN, ISLAMIC STATE OF"
19,"AFGHANISTAN, ISLAMIC STATE OF",Bust,1958-1983,26.2,27.5,29.2,8.4,2.5,0.0,0.3,0.1,0.0,2.0,3.9,14.9,"AFGHANISTAN, ISLAMIC STATE OF"
20,"AFGHANISTAN, ISLAMIC STATE OF",Kandahar,1960-1983,54.0,42.0,41.1,18.7,2.2,0.0,2.3,1.0,0.0,2.3,7.0,20.0,"AFGHANISTAN, ISLAMIC STATE OF"
21,ALGERIA,SKIKDA,1961-1990,115.3,94.0,75.6,60.8,29.9,13.1,2.9,9.7,30.1,75.0,99.2,123.0,ALGERIA
22,ALGERIA,ANNABA (Les Salines),1961-1990,92.7,74.9,67.7,50.1,30.7,14.8,2.8,8.0,30.0,71.7,74.4,95.5,ALGERIA
23,ALGERIA,ALGER ( dar el beida ),1961-1990,80.0,81.8,73.4,61.1,39.9,16.7,4.6,7.4,34.2,76.0,96.4,115.2,ALGERIA
24,ALGERIA,BEJAIA,1969-1990,99.7,85.9,100.4,70.7,41.2,16.2,5.8,13.0,40.4,89.5,99.7,135.0,ALGERIA
25,ALGERIA,CONSTANTINE (Ain El Bey),1961-1990,66.6,58.3,61.8,53.2,41.5,20.9,8.9,12.2,36.4,38.4,43.5,71.1,ALGERIA
26,ALGERIA,CHLEF,1961-1990,43.4,56.7,39.3,39.9,34.0,10.5,1.8,6.0,11.5,51.3,53.0,61.9,ALGERIA
27,ALGERIA,MILIANA,1969-1990,120.5,124.0,112.3,71.3,47.9,16.8,5.8,7.1,29.6,68.9,103.3,119.8,ALGERIA
28,ALGERIA,BATNA,1972-1990,24.9,29.3,38.0,31.7,32.0,20.1,7.5,17.7,37.3,27.3,31.7,28.7,ALGERIA
29,ALGERIA,TEBESSA,1966-1990,27.1,30.3,44.8,30.6,36.5,31.2,11.3,25.1,29.4,23.6,29.0,23.6,ALGERIA
30,ALGERIA,ORAN ( es senia ),1961-1990,47.2,45.5,43.6,43.3,29.5,8.4,1.7,1.9,12.5,31.1,43.9,61.6,ALGERIA
31,ALGERIA,BISKRA,1966-1990,12.1,8.6,12.0,10.4,12.7,5.9,1.9,6.1,23.1,16.0,18.5,7.3,ALGERIA
32,ALGERIA,DJELFA,1972-1990,33.4,32.4,38.1,30.8,36.1,29.7,9.4,18.6,25.7,25.1,37.2,30.9,ALGERIA
33,ALGERIA,EL OUED ( guemmar ),1967-1990,10.7,9.3,9.9,7.0,5.6,2.0,0.1,1.1,5.3,7.8,9.4,7.0,ALGERIA
34,ALGERIA,GHARDAIA,1964-1990,7.9,4.7,6.6,7.4,4.4,2.3,0.3,1.1,4.8,7.1,12.1,3.0,ALGERIA
35,ALGERIA,BECHAR,1961-1990,10.2,8.0,6.2,9.7,6.6,2.4,0.9,1.9,5.9,10.1,10.8,8.7,ALGERIA
36,ALGERIA,HASSI MESSAOUD,1962-1990,7.0,4.4,7.9,3.7,2.3,0.9,0.8,0.8,1.9,4.8,4.9,4.4,ALGERIA
37,ALGERIA,EL GOLEA,1961-1990,4.8,2.4,5.3,1.7,1.9,0.7,0.1,0.2,1.0,2.5,5.4,6.2,ALGERIA
38,ALGERIA,BENI ABBES,1967-1990,3.1,1.9,1.6,2.4,2.3,0.4,0.5,1.1,1.9,8.6,6.7,6.1,ALGERIA
39,ALGERIA,TIMIMOUN,1965-1990,2.2,1.8,2.3,2.2,1.4,0.1,0.0,0.2,0.6,2.6,0.9,1.7,ALGERIA

In [52]:
df = df.reset_index(drop=True)

In [65]:
for i in range(len(df)):
    country = df.loc[i]['Country'].title()
    ID = returnCode(country_dict, country)
    if ID is not None: 
        df['ID'] = df['ID'].replace(to_replace = country, 
                 value = ID)
    else:
        if [country] in eliminate:
            df = df[df['Country'] != country]
        else:
            print(country)

Argentina (Antarctic Stations)
Argentina (Antarctic Stations)
Australia (Antarctic Stations)
Chile (Antarctic Stations)
Chile (Antarctic Stations)
Chile (Antarctic Stations)
Colombia (San Andres And Providencia Islands)
France (Caribbean Islands, Guadeloupe, Martinique)
France (Caribbean Islands, Guadeloupe, Martinique)
France (Caribbean Islands, Guadeloupe, Martinique)
France (French Department Of Guyana)
France (French Department Of Guyana)
France (French Department Of Guyana)
France (French Department Of Guyana)
France (Islands In The Indian Ocean)
France (Islands In The Indian Ocean)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Asia)
Kazakstan (Europe)
Netherlands Antilles And Aruba
Netherlands Antilles And Aruba
Portugal (Madeira)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Russian Federation (Asia)
Spain (Canary Islands, Ceuta And Melilla)
Spain (Canary Islands, Ceuta And Melilla)
Spain (Canary Islands, Ceuta And Melilla)
Spain (Canary Islands, Ceuta And Melilla)
United States Of America (Antarctic Stations)
United States Of America (Antarctic Stations)
United States Of America (Antarctic Stations)
United States Of America (Pacific Islands)
United States Of America (Pacific Islands)
United States Of America (Pacific Islands)
United States Of America (Pacific Islands)
United States Of America (Pacific Islands)
United States Of America (Pacific Islands)
United States Of America (Pacific Islands)
United States Of America (Pacific Islands)
United States Of America (Pacific Islands)
United States Of America (Pacific Islands)
United States Of America (Pacific Islands)
United States Of America (Pacific Islands)

In [54]:
df

,Country,Population,Christian,Muslim,Irreligion,Hindu,Buddhist,Folk religion,Other religion,Jewish,ID
0,Angola,"19,080,000","17,267,400",100.000,"973,08",0,0,"801,36",0,0,Q916
1,Cameroon,"19,600,000","13,778,800","7,692.300","1,038,800",0,0,"646,8","529,2",0,Q1009
2,Central African Republic,"4,400,000","3,938,000",862.000,44,0,0,44,0,0,Q929
3,Chad,"11,230,000","4,559,380","9,200.000","280,75",0,0,"157,22","11,23",0,Q657
4,"Congo, Democratic Republic of the","65,970,000","63,199,260","12,492.000","1,187,460",30,0,"461,79","65,97",0,Q974
...,...,...,...,...,...,...,...,...,...,...,...
212,Samoa,180,"174,24",300,"4,5",0,0,0,720,0,Q683
213,Tokelau,"1,4","1,397",0,0,0,0,0,3,0,Q36823
214,Tonga,100,99,120,0,100,0,0,900,0,Q678
215,Tuvalu,11,"10,8",200,0,0,0,0,0,0,Q672
216,Wallis and Futuna,13,"12,662",0,78,0,0,156,104,0,Q35555

In [55]:
df = dropna(df)

Original shape (212, 11)
After dropna (212, 11)
After drop ".." (212, 11)

In [56]:
#Save file in current folder
df.to_csv(path_clean+ file + '.tsv', index=False, sep='\t')

# Add ID for all tsv files

In [64]:
# Opening JSON file 
with open(dict_file) as json_file: 
    country_dict = json.load(json_file)

In [18]:
file = open(del_file, 'r')
reader = csv.reader(file)
eliminate = list(reader)

In [22]:
directories = os.listdir(path_check)
for file in directories:
    print('________________________________________')
    print(file)
    df_all = pd.read_csv(path_check + file, sep='\t')
    # add a column
    df_all['ID'] = df_all['Country']
    for i in range(len(df_all)):
        country = df_all.loc[i]['Country']
        ID = returnCode(country_dict, country)
        if ID is not None: 
            df_all['ID'] = df_all['ID'].replace(to_replace = country, 
                 value = ID)
        else:
            if [country] in eliminate:
                df_all = df_all[df_all['Country'] != country]
            else:
                print(file)
                print(country)
    df_all = dropna(df_all)
    df_all.to_csv(path_clean + file, index=False, sep='\t')

________________________________________
paralympic_medal.tsv
Original shape (116, 5)
After dropna (116, 5)
After drop ".." (116, 5)
________________________________________
fivb_men.tsv

/home/tamara/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Original shape (218, 3)
After dropna (218, 3)
After drop ".." (218, 3)
________________________________________
ethnic_diversity_level.tsv
Original shape (213, 5)
After dropna (213, 5)
After drop ".." (213, 5)
________________________________________
olympic _medal.tsv
Original shape (134, 5)
After dropna (134, 5)
After drop ".." (134, 5)
________________________________________
academy_awards_film.tsv
Original shape (124, 5)
After dropna (124, 5)
After drop ".." (124, 5)
________________________________________
nobel_laureates.tsv
Original shape (79, 3)
After dropna (79, 3)
After drop ".." (79, 3)
________________________________________
natural_disaster_risk.tsv
Original shape (171, 6)
After dropna (170, 6)
After drop ".." (170, 6)
________________________________________
evi.tsv
Original shape (233, 3)
After dropna (233, 3)
After drop ".." (233, 3)
________________________________________
latitude_longitude.tsv
Original shape (243, 4)
After dropna (243, 4)
After drop ".." (243, 4)
________________________________________
fivb_women.tsv
Original shape (218, 3)
After dropna (218, 3)
After drop ".." (218, 3)

In [174]:
country

'Zimbabwe'

In [173]:
ID

'Q954'

In [178]:
df_all

,Country,Strength of legal rights index,Depth of credit information index,ID
0,Afghanistan,10,0,Q889
1,Albania,8,6,Q222
2,Algeria,2,0,Q262
3,Angola,1,0,Q916
4,Antigua and Barbuda,5,0,Q781
...,...,...,...,...
185,Vietnam,8,8,Q881
186,West Bank and Gaza,8,8,Q407199
187,"Yemen, Rep.",0,0,Q805
188,Zambia,11,8,Q953
189,Zimbabwe,6,7,Q954

# COVID

In [6]:
# Opening JSON file 
with open(dict_file) as json_file: 
    country_dict = json.load(json_file)

In [7]:
file = open(del_file, 'r')
reader = csv.reader(file)
eliminate = list(reader)

In [13]:
filecovid = 'PacientesCriticos_T'

In [14]:
df = pd.read_csv(path_covid + filecovid + '.csv')
df.head()

         Date  Pacientes criticos
0  2020-03-27                  10
1  2020-03-28                  11
2  2020-03-29                  14
3  2020-03-30                  13
4  2020-03-31                  20

In [211]:
del df['Code']
#del df['Long']

In [15]:
# add a column
df['ID'] = df['Country']
#df['ID_province'] = df['Province/State']
df

           Date  Pacientes criticos    ID
0    2020-03-27                  10  Q298
1    2020-03-28                  11  Q298
2    2020-03-29                  14  Q298
3    2020-03-30                  13  Q298
4    2020-03-31                  20  Q298
..          ...                 ...   ...
216  2020-10-30                  84  Q298
217  2020-10-31                  90  Q298
218  2020-11-01                  89  Q298
219  2020-11-02                  83  Q298
220  2020-11-03                  81  Q298

[221 rows x 3 columns]

In [50]:
df = df.reset_index(drop=True)

In [51]:
for i in range(len(df)):
    country = df.loc[i]['Country']
    ID = returnCode(country_dict, country)
    if ID is not None: 
        df['ID'] = df['ID'].replace(to_replace = country, 
                 value = ID)
    else:
        if [country] in eliminate:
            df = df[df['Country'] != country]
        else:
            print(country)
    df = df.reset_index(drop=True)

In [146]:
for i in range(len(df)):
    country = df.loc[i]['Province/State']
    ID = returnCode(country_dict, country)
    if ID is not None: 
        df['ID_province'] = df['ID_province'].replace(to_replace = country, 
                 value = ID)
    else:
        if [country] in eliminate:
            df = df[df['Province/State'] != country]
        elif [country] is not 'nan':
            print(country)
    df = df.reset_index(drop=True)

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [52]:
df[:40]

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,ID
0,2020-01-03,Afghanistan,0,0,0,0,Q889
1,2020-01-04,Afghanistan,0,0,0,0,Q889
2,2020-01-05,Afghanistan,0,0,0,0,Q889
3,2020-01-06,Afghanistan,0,0,0,0,Q889
4,2020-01-07,Afghanistan,0,0,0,0,Q889
5,2020-01-08,Afghanistan,0,0,0,0,Q889
6,2020-01-09,Afghanistan,0,0,0,0,Q889
7,2020-01-10,Afghanistan,0,0,0,0,Q889
8,2020-01-11,Afghanistan,0,0,0,0,Q889
9,2020-01-12,Afghanistan,0,0,0,0,Q889
10,2020-01-13,Afghanistan,0,0,0,0,Q889
11,2020-01-14,Afghanistan,0,0,0,0,Q889
12,2020-01-15,Afghanistan,0,0,0,0,Q889
13,2020-01-16,Afghanistan,0,0,0,0,Q889
14,2020-01-17,Afghanistan,0,0,0,0,Q889
15,2020-01-18,Afghanistan,0,0,0,0,Q889
16,2020-01-19,Afghanistan,0,0,0,0,Q889
17,2020-01-20,Afghanistan,0,0,0,0,Q889
18,2020-01-21,Afghanistan,0,0,0,0,Q889
19,2020-01-22,Afghanistan,0,0,0,0,Q889
20,2020-01-23,Afghanistan,0,0,0,0,Q889
21,2020-01-24,Afghanistan,0,0,0,0,Q889
22,2020-01-25,Afghanistan,0,0,0,0,Q889
23,2020-01-26,Afghanistan,0,0,0,0,Q889
24,2020-01-27,Afghanistan,0,0,0,0,Q889
25,2020-01-28,Afghanistan,0,0,0,0,Q889
26,2020-01-29,Afghanistan,0,0,0,0,Q889
27,2020-01-30,Afghanistan,0,0,0,0,Q889
28,2020-01-31,Afghanistan,0,0,0,0,Q889
29,2020-02-01,Afghanistan,0,0,0,0,Q889
30,2020-02-02,Afghanistan,0,0,0,0,Q889
31,2020-02-03,Afghanistan,0,0,0,0,Q889
32,2020-02-04,Afghanistan,0,0,0,0,Q889
33,2020-02-05,Afghanistan,0,0,0,0,Q889
34,2020-02-06,Afghanistan,0,0,0,0,Q889
35,2020-02-07,Afghanistan,0,0,0,0,Q889
36,2020-02-08,Afghanistan,0,0,0,0,Q889
37,2020-02-09,Afghanistan,0,0,0,0,Q889
38,2020-02-10,Afghanistan,0,0,0,0,Q889
39,2020-02-11,Afghanistan,0,0,0,0,Q889

In [25]:
df

,Country,date,total_deaths,new_deaths,new_deaths_smoothed,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,ID
0,Aruba,2020-03-13,NaN,0.0,NaN,NaN,0.000,NaN,Q21203
1,Aruba,2020-03-19,NaN,NaN,0.000,NaN,NaN,0.000,Q21203
2,Aruba,2020-03-20,NaN,0.0,0.000,NaN,0.000,0.000,Q21203
3,Aruba,2020-03-21,NaN,NaN,0.000,NaN,NaN,0.000,Q21203
4,Aruba,2020-03-22,NaN,NaN,0.000,NaN,NaN,0.000,Q21203
...,...,...,...,...,...,...,...,...,...
53530,Zimbabwe,2020-10-29,242.0,0.0,0.857,16.282,0.000,0.058,Q954
53531,Zimbabwe,2020-10-30,242.0,0.0,0.857,16.282,0.000,0.058,Q954
53532,Zimbabwe,2020-10-31,242.0,0.0,0.857,16.282,0.000,0.058,Q954
53533,Zimbabwe,2020-11-01,242.0,0.0,0.857,16.282,0.000,0.058,Q954
53534,Zimbabwe,2020-11-02,243.0,1.0,0.857,16.349,0.067,0.058,Q954

In [16]:
#Save file in current folder
df.to_csv(path_clean + filecovid +'.tsv', index=False, sep='\t')